* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
  
*::-webkit-scrollbar-thumb {
    background-color: rgba(62, 62, 63, 0.363);
    border-radius: 20px;
}

:root {
    font-size: 62.5%;


    --title-color: #e4e1e1;
    --section-title-color: #bb2b2b;
    --menu-color: #000000;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: 'Chivo Mono', monospace;
    position: relative;
    background-color: #161616;
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.button-hidden {
    display: none;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.input-hidden {
    visibility: hidden;
    opacity: 0;
    transform: translate(10%);
}

header {
    position: fixed;
    display: flex;

    z-index: 2;
    top:0;
    width: 100%;
    padding: .2rem 1.3rem;

    align-items: center;
    justify-content: space-between;

    background-color: #221b19;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo img {
    height: 6.26rem;
    padding-block: .5rem;
}

header button {
    background-color: transparent;
    border: none;
}

#button-search {
    display: none;
}

header i {
    color: #FFFAF1;
}

header button {
    width: 2.3rem;
    margin-right: 2rem;
}

.menu {
    display: flex;
    gap: 2rem;
}

#fav-input {
    width: 20rem;
    height: 2rem;
    
    border: none;
    border-radius: .8rem;
    padding-inline: 1rem;

    transition: .4s;
}

.menu-expanded {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    
    z-index: 1;
    
    margin-top: 7.14rem;
    top: -1rem;
    right: 0;

    width: 100%;
    height: 100%;
    
    background-color: var(--menu-color);
    text-align: center;
    transition: transform .4s;
}

.menu-expanded .search button {
    display: none;
}

.menu-expanded-hidden {
    transform: translate(100%);
    opacity: 1;
    visibility: visible;
}

.menu-expanded .list-genres {
    height: 80%;
    overflow: auto;
    margin-top: 1rem;
}

.menu-expanded ul {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    
    margin-bottom: 5rem;

    font-size: 2rem;

    list-style: none;
}

.menu-expanded ul li {
    width: fit-content;
    margin-inline: auto;
}

.menu-expanded ul li a {
    color: var(--title-color);
}

.menu-expanded input {
    height: 2rem;
    width: 80%;
    margin: 4rem 4rem 0 3.5rem;
    
    padding-left: 1rem;
    
    border: none;
    border-radius: .8rem;
}

.movie-wrapper {
    position: fixed;
    display: grid;
    place-items: center;

    z-index: 2;
    width: 100vw;
    height: 100vh;
    
    backdrop-filter: blur(5px);
    background-color: #000000a2;
    transition: visibility .2s;
}

.search-movie {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: .1rem;
    
    width: 70%;
    top: 5rem;
}

.search-movie button {
    display: flex;
    align-items: center;
    gap: .5rem;
    
    width: 100%;
    margin:0;
    padding: .1rem;

    background-color: #5f5c5c;
    border-radius: .5rem;
    border: none;
}

.search-movie div {
    width: 100%;
    text-align: center;
}

.search-movie span {
    font-size: 1.6rem;
    padding: .5rem;
    font-family: 'Chivo Mono', monospace;
}

.search-movie img {
    height: 8rem;
    width: 8rem;
    padding: 0.3rem;
    border-radius: .5rem;
}

.unsuccessful-search {
    display: none;
    flex-direction: column;
    gap: 2rem;
    
    height: 8.2rem;
    
    border-radius: .5rem;
    padding-block: 1rem 1.5rem ;
    background-color: #5f5c5c93 ;
}

.unsuccessful-search h2 {
    font-size: 1.5rem;
}

.unsuccessful-search h3 {
    font-size: 1.5rem;
}

.outdoor {
    position: relative;
    margin-top: 7.1rem;
}

.outdoor-card {
    display: flex;
    width: 100vw;
    
    scroll-behavior: smooth;
    overflow: hidden;
}

.outdoor-wrapper {
    position: relative;
}

.outdoor-card .current-item {
    position: relative;
}

.outdoor-card img {
    width: 100vw;
}

.outdoor-card h2 {
    position: absolute;
    bottom: 0;
    left: 3.5rem;
    margin: 0 0 1.5rem 1rem;
    
    z-index: 0;
    color: var(--title-color);
}

.current-item::before {
    position: absolute;
    display: block;
    content: '';
 
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
 
    background: linear-gradient(0deg, rgb(0, 0, 3) 0%, rgba(0, 0, 0, 0.402) 48%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
}

.button-left-outdoor,
.button-right-outdoor {
    position: absolute;
    height: 100%;
    width: 3rem;
    bottom: 0;
    
    border: none;
    color: #bbbbbb;
}

.button-left-outdoor:hover,
.button-right-outdoor:hover {
    backdrop-filter: blur(.5px) brightness(.9);
}

.button-left-outdoor {
    left: 0;
    background: linear-gradient(to left, transparent 0%, black 130%);
}

.button-right-outdoor {
    right: 0;
    background: linear-gradient(to right, transparent 0%, black 130%);
}

.outdoor-card .button-left-outdoor {
    margin-left: 5rem;
}

.sections {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    margin:2rem 0 0 1.5rem;
}

.sections div div button {
    display: none;
}

.sections .fav {
    display: flex;
    gap: .5rem;
}

.sections div {
    position: relative;
    top: 0;
    overflow: auto;
}

.sections .genres .movies {
    display: flex;
    flex-direction: row;
    gap: .5rem;

    width: fit-content;
}

.sections #theaters .fav,
.sections #fav-movie .fav {
    width: fit-content;
    display: flex;
}

.sections h3 {
    width: fit-content;
    margin-bottom: .4em;
    padding-right: 1rem;
    
    font-size: 2.5rem;

    color: var(--section-title-color);
    border-bottom: 1px solid #535252;
}

.sections img {
    height: 20rem;
    
    border-radius: .8rem;
    overflow: auto;
}

#modal-wrapper {
    position: fixed;
    display: grid;
    place-items: center;
    
    height: 100%;
    width: 100vw;

    z-index: 3;
    top: 0;

    font-family: 'Chivo Mono', monospace;
    
    overflow-y: scroll;
    backdrop-filter: blur(10px);
}

#modal {
    position: relative;
    margin-top: 5%;
    height: 96.9%;
    width: clamp(28rem, 95%, 50rem);
    
    left: 0;
    
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    overflow: auto;
}

#modal-wrapper img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 55rem;
    z-index: -2;
}

#modal::before {
    position: fixed;
    display: block;
    content: '';
    
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background: linear-gradient(0deg, rgba(2, 2, 2, 0.774) 0%, rgba(0, 0, 0, 0.753) 50%, rgba(0, 0, 0, 0.233) 100%);
    pointer-events: none;
}

#modal .header {
    display: flex;
}

#modal .top {
    padding-bottom: 1rem;
    flex-direction: column;
}

#modal .genres {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    
    padding: 2rem 0 0 1rem;
}

#modal .genres span {
    width: fit-content;
    padding: .5rem;
    border-radius: .5rem;
    background-color: #a5462a;
}

#modal .top span {
    padding: .5rem;
    border-radius: .5rem;
    background-color: #764ceb;
}

#modal .top .vote {
    color: #daa520;
    background-color: transparent; 
}

#modal .top div {
    display: flex;
    justify-content: space-around;
}

#modal .infos {
    width: 100%;
}

#modal .infos h1 {
    display: -webkit-box;
    
    margin: 43rem 0 1rem 0;
    padding-inline: 1rem;
    
    max-width: 100vw;
    height: 7rem;

    font-size: 3rem;
    font-weight: bold;
    color: #fffefe;

    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    
    overflow: hidden;
}

#modal p {
    font-size: bold;
    color: #ffffff;
    padding: 1rem 1rem 2rem 1rem;
}

#modal .buttons-wrapper {
    position: fixed;
    display: flex;
    justify-content: space-between;
    
    width: clamp(28rem, 95%, 50rem);
    padding: 2rem;
}

#modal .close-button {
    color: #FFFAF1;
    background: transparent;
    border: none;
}

#modal .close-button i {
    background: #574b4b1c;
    padding: 2rem 1rem;
    border-radius: 100%;
}

#modal .close-button:hover {
    filter:brightness(1);
    scale: 1.1;

    transition: .2s;
}

#modal .add-favorites,
#modal .remove-favorites {
    filter: brightness(.9)
}

#modal .add-favorites,
#modal .remove-favorites {
    top: 3rem;
    right: 3rem;

    color: red;
    border: none;
    background: transparent;
}

#modal .add-favorites:hover ,
#modal .remove-favorites:hover {
    scale: 1.2;
    filter: brightness(1);
    
    transition: .2s;
}

#modal .footer {
    background-color: #161616;
}

.input {
    visibility: visible;
    opacity: 1;
    right: 0;
}

footer {
    display: grid;
    place-items: center;
    
    margin-top: 1rem;
    
    padding: 2rem 3rem 2rem 1.5rem;
    background-color: #221b19;
}

footer a {
    color: var(--section-title-color);
}

.footer-container {
    display: flex;
    align-items: center;
    gap: 5rem;
}

footer .references {
    display: flex;
    flex-direction: column;
}

footer .references a {
    font-size: 1rem;
    color: #8d8c8a;
}

footer img {
    width: 8rem;
}

button.scroll-top {
    position: fixed;
    
    padding: 1.3rem 1rem;
    border-radius: 2rem;
    
    border: none;
    bottom: 2rem;
    right: 2rem;
    
    background-color: #221b19;
    transition: transform .4s;
}

body .scroll-top-hidden {
    transform: translateY(200%);
}

button.scroll-top a {
    color: var(--section-title-color);
}

@media (min-width: 700px) {

    *::-webkit-scrollbar {
        width: 0px;
    }

    body::-webkit-scrollbar {
        width: .8rem;
    }

    .outdoor-card {
        height: 60vh;
    }
    
    .outdoor-card img {
        height: 60rem;
    }  

    .outdoor-card h2 {
        font-size: 4rem;
    }
    header .input {
        display: initial;
    }

    header .input button i{
        font-size: 2rem;
    }

    .search-wrapper {
        display: flex;    
        gap: 2rem;
    }

    .search {
        display: felx;
        flex-direction: column;
    }

    #button-search {
        display: initial;
    }

    .sections img:hover {
        cursor: pointer;
    }

    .movie-wrapper {
        display: block;
    }

    .search-movie {
        width: 34rem;
        right: 1.5rem;
        top: .5rem;
    }

    .menu-expanded-wrapper {
        position: fixed;
        z-index: 1;

        height: 100vh;
        width: 100vw;

        backdrop-filter: blur(5px);
        background-color: #000000a2;

        transition: trasnform 1s, opacity 1s, visibility 1s;
    }

    .menu-expanded {
        top: -7rem;
        height: fit-content;
        width: fit-content;
        
        background-color: #00000000;
        transition:  .4s ;
    }
    
    .menu-expanded-hidden {
        opacity: 0;
        transform: translate(100%);
    }

    .menu-expanded .list-genres {
        width: 50rem;

        padding-top: 2rem;
        margin: .3rem .5rem 0 1rem;
        
        border-radius: 1rem;
        background-color: #161616;
    }

    .menu-expanded .list-genres ul {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;

        margin-inline: 1.5rem;
        line-height: 5rem;
    }

    .menu-expanded .list-genres h2 {
        margin-bottom: 1rem;

        font-size: 3.5rem;
        color: #bb2b2b;
    }

    #modal-wrapper {
        overflow: hidden;
    }

    #modal {
        margin-top: 8rem;
        height: 100%;
    }

    #modal .infos {
        border-radius: 1rem;
    }

    #modal .infos p {
        padding-bottom: 5rem;
    }

    #modal-wrapper::-webkit-scrollbar {
        width: 0px;
    }

    .sections div {
        overflow: hidden;
        scroll-behavior: smooth;
    }

    .sections div div button {
        display: initial;
    }

    footer {
        display: flex;
    }

    .footer-container {
        width: 60%;
        margin-inline: auto;
        justify-content: space-between;
    }

    .footer-container .social {
        display: flex;
        gap: 3rem;
    }
}